.login{

min-height:100vh;
max-width:100vw;
background-color: rgb(48, 47, 47);
color:white;
display: flex;
flex-direction: row;

}
.loginform{

font-size: 15px;
   max-height:300px;
    max-width:400px;
    margin:auto;

  
   
}

.image{

   
   
    width:70%;
    flex-wrap: nowrap;
    margin-right: 100px;
}
.link{
font-size: 40px;

    height: 5%;
    text-wrap:balance;
   
    font-weight: 500;
    text-align: end;
}

.buton{

    margin-top: 20px;
    height:50px;
    width:150px;
    border-radius: 10px;
    
    
    font-size: 25px;
    font-weight: bold;
   
    background-color:#ec3f3f; /* Green */
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}